# ---------------- IA ------------------
/.agents
/.impeccable
/.opencode
/frontend-angular-12/.impeccable/
frontend-angular-12/DESIGN.md
skills-lock.json
PRODUCT.md
AGENTS.md

# ---------- Frontend Angular ----------
/frontend-angular-12/node_modules/
/frontend-angular-12/dist/
/frontend-angular-12/tests/
/frontend-angular-12/test-results/
/frontend-angular-12/playwright.config.ts
/frontend-angular-12/playwright-report/
/frontend-angular-12/tmp/
/frontend-angular-12/.angular/
/frontend-angular-12/coverage/
/frontend-angular-12/.env
/frontend-angular-12/.env.*
!/frontend-angular-12/.env.example

# ---------- Backend Spring Boot ----------
/spring_backend/target/
/spring_backend/src/test/
/spring_backend/.mvn/
/spring_backend/logs/
/spring_backend/src/main/resources/application-local.yaml

# ---------- Tools ----------
/database

# ---------- Logs ----------
**/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------- IDE / Editor ----------
.idea/
*.iml
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# ---------- OS ----------
.DS_Store
Thumbs.db
Desktop.ini
